<script type="text/x-handlebars-template" id="fail-list">
{{#if data.length}}
<div class="page-header">
    <h1>Failed Jobs <small>D'oh!</small></h1>
</div>
<div class="l-sidebyside failed-job">
    <div class="min-col-size">
{{else}}
<div class="page-header">
    <h1>No Failed Jobs <small>Yey!</small></h1>
</div>
{{/if}}
{{#each data}}
    <div class="row">
        <h3><a href="/failed/{{name}}">{{name}}</a></h3>
    </div>
{{/each}}
        </div>
        <div>
{{#each data}}
    <div class="row">
        <h3>| {{count}} <small>Jobs</small></h3>
    </div>
{{/each}}
{{#if data.length}}
    </div>
</div>
{{/if}}
</script>