<script type="text/html" id="fail-list">
{{^data}}
<div class="page-header">
    <h1>No Failed Jobs <small>Yey!</small></h1>
</div>
{{/data}}
{{#data.length}}
<div class="page-header">
    <h1>Failed Jobs <small>D'oh!</small></h1>
</div>
<div class="l-sidebyside failed-job">
    <div class="min-col-size">
{{/data.length}}
{{#data}}
    <div class="row">
        <h3><a href="/failed/{{name}}">{{name}}</a></h3>
    </div>
{{/data}}
        </div>
        <div>
{{#data}}
    <div class="row">
        <h3>| {{count}} <small>Jobs</small></h3>
    </div>
{{/data}}
{{#data}}
    </div>
</div>
{{/data}}
</script>