<script type="text/x-handlebars-template">
{{#if job}}
    {{reverseHistory job}}
    {{#with job}}
        {{> JOB}}
    {{/with}}
{{else}}
    <div class="row">
        <div class="span12">
            <h2>{{jid}} doesn't exist, was canceled, or expired</h2>
        </div>
    </div>
{{/if}}

</script>