<script id="qless-main" type="text/html">
    <div class="container">
        <div id="queue-list-container"></div>
        <div id="fail-list-container"></div>
        <div id="worker-list-container"></div>

        <div class="page-header">
            <h1>No Tracked Jobs <small>These aren't the droids you're looking for</small></h1>
        </div>

    </div>
</script>
