<script id="qless-main" type="text/html">
    <div class="container">
        <div class="page-header">
            <h1>Queues <small>And their job counts</small></h1>
        </div>


        <div class="row">
            <div class="span4">
                <h3><a href="/queues/demo">demo</a></h3>
            </div>
            <div class="span8">
                <h3> |
                    0 /
                    0 /
                    0 /
                    0 /
                    0 /
                    0 <small>(running / waiting / scheduled / stalled / depends / recurring)</small>
                </h3>
            </div>
        </div>


        <div class="page-header">
            <h1>Failed Jobs <small>D'oh!</small></h1>
        </div>
        <div class="l-sidebyside failed-job">
            <div class="min-col-size">

                <div class="row">
                    <h3><a href="/failed/system:fatal">system:fatal</a></h3>
                </div>

            </div>
            <div>

                <div class="row">
                    <h3>| 1 <small>Jobs</small></h3>
                </div>

            </div>
        </div>

        <div class="page-header">
            <h1>No Tracked Jobs <small>These aren't the droids you're looking for</small></h1>
        </div>

        <div class="page-header">
            <h1>Current Workers <small>And their job counts</small></h1>
        </div>


        <div class="row">
            <div class="span4">
                <h3><a href="/workers/MyWorker">MyWorker</a></h3>
            </div>
            <div class="span8">
                <h3>| 0 / 0 <small>Running / Stalled</small></h3>
            </div>
        </div>


        <!-- <footer class="footer">
                <p>Powered by <a href="http://github.com/seomoz/qless">qless</a> v0.9.3</p>
        </footer> -->
    </div>
</script>
