<script id="qless-main" type="text/html">
    <div class="container">
        <div id="queue-list-container"></div>
        <div id="fail-list-container"></div>

        <div class="page-header">
            <h1>No Tracked Jobs <small>These aren't the droids you're looking for</small></h1>
        </div>

        <div class="page-header">
            <h1>Current Workers <small>And their job counts</small></h1>
        </div>


        <div class="row">
            <div class="span4">
                <h3><a href="/workers/MyWorker">MyWorker</a></h3>
            </div>
            <div class="span8">
                <h3>| 0 / 0 <small>Running / Stalled</small></h3>
            </div>
        </div>


        <!-- <footer class="footer">
                <p>Powered by <a href="http://github.com/seomoz/qless">qless</a> v0.9.3</p>
        </footer> -->
    </div>
</script>
