<script id="queue-status" type="text/html">

    <div>
        <div class="row">
            <div class="span12">
                <h3>Waiting</h3>
            </div>
            <div class="row">
                <div class="span12">
                    <h3>
                        {{data.stats.wait.count}} /
                        {{data.stats.wait.mean}} /
                        {{data.stats.wait.std}}
                        <small>Total / Mean / Std. Deviation</small>
                    </h3>
                </div>
            </div>
            <div id="wait-chart"></div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="span12">
                <h3>Run</h3>
            </div>
            <div class="row">
                <div class="span12">
                    <h3>
                        {{data.stats.run.count}} /
                        {{data.stats.run.mean}} /
                        {{data.stats.run.std}}
                        <small>Total / Mean / Std. Deviation</small>
                    </h3>
                </div>
            </div>
            <div id="run-chart"></div>
        </div>
    </div>

</script>
