<script type="text/x-handlebars-template" id="worker-list">
<div class="page-header">
    <h1>Current Workers <small>And their job counts</small></h1>
</div>
{{#each data}}
<div class="row">
    <div class="span4">
        <h3><a href="/workers/{{name}}">{{name}}</a></h3>
    </div>
    <div class="span8">
        <h3>| {{jobs}} / {{stalled}} <small>Running / Stalled</small></h3>
    </div>
</div>
{{/each}}
</script>