<script id="worker-view" type="text/html">
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            <li><a href="#Running">Running</a></li>
            <li><a href="#Stalled">Stalled</a></li>
        </ul>
    </div>

    {{#if  worker.jobs.length}}
    <div class="page-header">
        <h1>{{worker.name}} <small>Running Jobs</small></h1>
    </div>
    {{/if}}

    {{#each worker.jobs as |job|}}
        {{> JOB}}
    {{/each}}

    {{#if worker.stalled.length}}
        <div class="page-header">
            <h1>{{worker.name}} <small>Stalled Jobs</small></h1>
        </div>

        {{#each worker.stalled as |job|}}
            {{> JOB}}
        {{/each}}
    {{/if}}

    {{#unless worker.stalled.length}}
        {{#unless worker.jobs.length}}
        <div class="page-header">
            <h1>{{worker.name}} <small>Isn't Doing Anything</small></h1>
        </div>
        {{/unless}}
    {{/unless}}

</script>